body {
    background-color: #352315;
    color: #F5F5DC;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #9A7B4F;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 {
    font-weight: 300;
    color: #FFE4C4;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #9A7B4F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #9A7B4F;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #9A7B4F;
    font-weight: bold;
    text-transform: uppercase;
}
.A {
    text-decoration: none;
    color: #9A7B4F;
}
a {
    text-decoration: none;
    color: #9A7B4F;
}
.A:hover {
    color: #4A3728;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #9A7B4F;
    font-style: italic;
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #4A3728;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #9A7B4F;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}

#hero-image {
    height: 580px;
    padding-top: 1px;
    background: #F5F5DC url('image/bg.jpg') no-repeat center;
}
#hero-image h2 {
    margin: 180px 0 40px 0;
}
.button-1 {
    display: block;
    text-align: center;
    background: #9A7B4F;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
}
.button-1:hover {
    background-color: #432616;
    color: #fff;
}


#primary-content {
    background-color: #F5F5DC;
    padding: 60px 0;
    text-align: center;
}
#primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #432616;
    padding: 0 0 20px 0;
}
#primary-content  img {
    margin: 20px 0;
    width: 600px;
}

#secondary-content {
    padding: 60px 0;
    text-align: center;
}
#secondary-content article {
    width: 460px;
    height: 270px;
    float: left;
    background-color: #F5F5DC;
}
#secondary-content article:first-child {
    margin-right: 20px;
    
}
#secondary-content article .overlay {
    background: rgba(255, 255, 255, .95);
    height: 230px;
    width: 190px;
    padding: 20px;
}
article h4 {
    border-bottom: 1px solid #432616;
    padding-bottom: 20px;
}
.more-link {
    border: 1px solid #432616;
    color: #432616;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #432616;
    color: #fff;
}   

#cta {
    padding: 60px 0;
    text-align: center;
}
#cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #432616;
    padding: 0 0 20px 0;
}
.button-2 {
    display: block;
    margin: 0 auto;
    border: 2px solid #9A7B4F;
    color: #fff;
    border-radius: 3px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}
.button-2:hover {
    background-color: #432616;
    color: #fff;
}